@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
img{
    padding-top: 30px;
    height: 80px !important;
    border-radius: 50% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
section{
    background-color: rgb(68, 68, 68) ;
    text-align: center;
    border-radius: 3%;
    padding-bottom: 30px;
    width: 400px;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400; /* Default weight */
}

h4.green{
    font-size: smaller ;
    color: greenyellow !important;
    margin-top: 5px;
    padding-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
h3,h4{

    
    color: rgb(228, 228, 228);
    
    margin-top: 20px;
    padding-top: 0%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
li{
    list-style: none;
    border: 2px solid ;
    padding-top: 15px;
    text-align: center;
    background-color: rgb(100, 100, 100);
    margin-bottom: 10px;
    height: 30px ;
    width: 300px;
    border-radius: 3px;
    border: none;
    font: 100px;
    color: aliceblue;
    font-weight: 400;
}
ul{
    text-align: center;
}
